<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/all.css' />
    <link rel='stylesheet' href='/stylesheets/top-nav.css' />
    <script src='/javascripts/lib/stickyfill.min.js'></script>
    <script src='/javascripts/sticky.js'></script>
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1">
  </head>
  <body>

  	<div class='top-card'>
  		asdf
  	</div>
		
		<div class="top-nav">
			<img style='position:relative;height:80%;width:auto' src='/images/fizzle-logo'>
		</div>

		<div class="sticky-card"></div>

		<div class="sticky-card" id='one'>
			<div class='inner-left'>one</div>
		</div>

		<!-- <div class="sticky-card"></div> -->

		<div class="sticky-card" id='two'>
			<div class='inner-centered'>two</div>
			<div class='inner-centered'>two</div>
		</div>

		<!-- <div class="sticky-card"></div> -->

		<div class="sticky-card">
			<div class='inner-right'>three</div>
			<div class='inner-right'>three</div>
			<div class='inner-right'>three</div>			
		</div>

		<div class="sticky-card">
			<div class='inner-right'>four</div>
			<div class='inner-right'>four</div>
			<div class='inner-right'>four</div>
			<div class='inner-right'>four</div>		
		</div>

		<div class="sticky-card">
			<div class='inner-right'>five</div>
			<div class='inner-right'>five</div>
			<div class='inner-right'>five</div>
			<div class='inner-right'>five</div>
			<div class='inner-right'>five</div>			
		</div>				

		<div class="sticky-card" id='three'></div>

  </body>
</html>
