<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/all.css' />
    <link rel='stylesheet' href='/stylesheets/top-nav.css' />
    <script src='/javascripts/lib/stickyfill.min.js'></script>
    <script src='/javascripts/sticky.js'></script>
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1">
  </head>
  <body>

  	<div class='top-card'>
  		<div class="title">off the table</div>
      <div class='subtitle'>menus for all</div>
  	</div>
		
		<div class="top-nav">
			<!-- <img style='position:relative;height:80%;max-height:50px;width:auto' src='/images/fizzle-logo'> -->
      <div class='menu-item' id='story'>
        <button class='menu-item-button'>Story</button>
      </div>
      <div class='menu-item' id='for-restaurants'>
        <button class='menu-item-button'>For Restaurants</button>
      </div>
      <div class='menu-item' id='for-customers'>
        <button class='menu-item-button'>For Customers</button>
      </div>
		</div>

		<!-- <div class="sticky-card"></div> -->

		<div class="sticky-card">
			<p>Welcome to <name>Off the Table</name>.</p>
		</div>

		<div class="sticky-card">
      <p>Off the Table gives you access to local menus in a friendly and lightweight interface.</p>
		</div>

		<div class="sticky-card">
			<p>We aren't restaurant oriented - we're food oriented.</p>
		</div>

		<div class="sticky-card">
			<p>Simply find the food you want to eat by searching or browsing the listings which are updated in realtime.</p>
		</div>

		<div class="sticky-card">
			<p>Bookmark interesting dishes for later, save menus to view offline, and share anything with your friends through the app.</p>		
		</div>				

		<div class="sticky-card">
      <p>Join us on Android or iOS.</p>  
    </div>

  </body>
</html>
