body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: white;
  font-family: 'Rajdhani', sans-serif;
  color: rgb(80,80,80);
  -webkit-tap-hightlight-color: rgba(0,0,0,0) 
  -webkit-overflow-scrolling: touch;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.sticky-card:before,
.sticky-card:after {
    content: '';
    display: table;
}

a {
  color: rgb(0,200,255);
}

p {
	margin: 25px;
  font-size: 18pt;
  text-align: center;
  line-height: 1.5em;
}

name {
  color: rgb(0,200,255);
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;
  display: none;
}

.title {
  position: relative;
  width: 100%;

  display: -webkit-flex;  
  align-items: center;
  justify-content: center;
  -webkit-align-content: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;  
  font-size: 24pt;
  /*font-style: italic;*/
}
.subtitle {
  font-size: 14pt;
}
  
.top-card {
	position: relative;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: white;

	font-size: 48pt;
	color: rgb(100,200,255);

	display: -webkit-flex;	
	align-items: center;
	justify-content: center;
	-webkit-align-content: center;
	-webkit-justify-content: center;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
}

.top-nav {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	width: 100%;
	height: 55px;
	background: rgb(100,200,255);
	z-index: 10;

	display: -webkit-flex;	
	align-items: center;
	justify-content: center;
	-webkit-align-content: center;
	-webkit-justify-content: center;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
}

.menu-item {
  position: relative;
  flex: 2;
  max-width: 150px;
  height: 100%;

  display: -webkit-flex;  
  align-items: center;
  justify-content: center;
  -webkit-align-content: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
}
#story {
  position: relative;
  flex: 1;
  max-width: 75px;
  height: 100%;
}
.menu-item-button {
  position: relative;
  width: 90%;
  height: 90%;
  border: 2px solid transparent;
  background: transparent;
  border:none;
  color: white;
  border-radius: 4px;
  transition: border 100ms;
  font-size: 12pt;
  padding: 0;
}
.menu-item-button:focus {
  border: 2px solid white;
  outline:none;
}
.menu-item-button:hover {
  cursor: pointer;
}


.sticky-card {
	position: sticky;
	position: -webkit-sticky;
	top: 55px;
	width: 100%;
	height: calc(100vh - 55px);
	background: linear-gradient(to bottom, rgba(255,255,255,0), white, white, white, white, white, white, white);
/*	padding-top: 50px;
	padding-bottom: 50px;*/
	font-size: 18pt;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	color: rgb(100,200,255);
}